   body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        #calculator {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            background-color: lightgray;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
        }

        #calculator input[type="button"] {
            font-size: 32px;
            font-weight: bold;
            padding: 30px;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
        }

        #calculator input[type="button"] {
            background-color: gray;
            color: black;
            opacity: 90%;
        }

        #calculator input[type="text"] {
            grid-column: span 3; 
            background-color: white;
            border: 1px solid black;
            text-align: right;
        }

        
        #calculator input[type="button"].clear {
            background-color: #e74c3c;
            color: white;
        }